
.phone{
  padding-top:70px;
  height: 650px;
  float: right;
  margin:10px;
}
.right-column{
  background: #fff;
  border:1px solid #e6e6e6;
  width:350px;
  margin:10px;
  padding:40px;

}
.right2-column{
 background: #fff;
  border:1px solid #e6e6e6;
  width:350px;
  margin:10px;
  padding:2px;
}
.social_logo{
  
  height: 65px;
    width: 175px;
}
.fb_icon{
  width: 30px;
  height: 25px;
  padding: 0px 5px 2px ;
}
.info{
  font-weight: 600px;
  line-height: 20px;
  font-size: 17px;
  color:#999
}
.or {
 font-size: 13px !important;
 color:#999;
 font-weight: 900;

}
.or::before {
 content: '';
  background:#efefef;
  display:block;
  height: 2px;
  position: relative;
  top:11px;
  width: 40%;
}
.or::after{
  content: '';
  background:#efefef;
  display:block;
  height: 2px;
  position: relative;
  bottom:10px;
  width: 40%;
  left:160px;
}
.sign{
  width: 100%;
  background-color:blue;
  padding:10px;
  
}
.terms{
  margin-top:15px;
  font-size: 15px;
  text-align: center;

}
.box2{
margin:0 auto;
padding:20px
}

.container1 {
  width: 100%;
  padding-right: 150px;
  padding-left: 150px;
        margin-right: 10px;
    margin-left: 300px;
}
  
.pFont{
  font-size: 13px;
  color:red;
}
.iconMob{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 9px;
    left: 8px;

}




/* +_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_++_+_+_+_+_+_+_+_+_+_+_+_+_+_++_+_+_+_+_+_+_+_+_+_+_+_+_+_+_ */
.input{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid #efefef;
}
.flex-container {
 display: flex;
  flex-wrap: nowrap;
  background-color: transparent;
  border:1px solid black;
  height: 10cm;
  margin-right:2cm;
  width:30%;

  /* height:300px; */
}
.div input[type=text]{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 14px;
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid #efefef
}
.form32243{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}
.body{
      background-color:rgb(129, 79, 79);
}
.jumbotron1 {
  display: block;
  position:relative;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #fafafa;
  border-radius: 0rem;
  border: 1px rgb(243, 237, 237);
  z-index: 123;
  box-shadow: #262626; 
  
}

.form-group1{
      /* margin-right: 3cm; */
      align-content: center;
      
}
.outer-div{
      
    /* border-radius: 5px; */
    background-color:#654d4c;
    /* padding: 20px; */
}
.inner-div{
          justify-content: center;
    margin: 30px auto 0;
    max-width: 935px;
    padding-bottom: 44px;
    width: 100%;
}


.card1{
        position: relative;
        margin-top: 2cm;
        width:50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0px;
  background-color: #fafafa;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0px;
}
.form-control1{
   width: 100%;
   height: calc(1.5em + 0.75rem + 2px);
   padding: 0.375rem 0.75rem;
   font-size: 0.8rem;
   font-weight: 100;
   line-height: 1.5;
   color: #495057;
  background-color: #fafafa;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 1.1px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control{
      width: 100%;
      text-shadow: none;
      display: inline-block;
      text-align: start;
      margin:5px;
      align-content: center;
      border-radius: 0px;
      
}
