.navbar1{
    list-style: none;
    border-bottom:1px solid rgb(219, 214, 214);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color:white;
}
.navbar .nav-item{
    list-style:none;
}
.instaLogo{
    width: 23px;
    height: 23px;
    margin:5px;
}
@media screen and (max-width: 500px) {
  .navbar1 a {
    float: none;
    display: block;
    text-align: left;
  }
}
.navbar1 a {
  float: left;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 3px;
}
.navItem{
    position:relative;
    left:140px;
}
.navItem1{
    position:relative;
    right:140px;
}
.navItem2{
    position:relative;
    left:20px;
}
.searchField{
    border:1px solid rgba(148, 144, 144, 0.39);
    border-radius:2px;
    height:24px;
    background-color:rgba(236, 224, 224, 0);
    padding:2px 10px;
    color:#777272;
    font-size:15px;
    max-width: 229px;
    font-family:"FontAwesome";
}
 .searchField::placeholder{
    text-align:center;
    font-weight: 400;
    font-size: 12px; 

}
